@import "tailwindcss";


@theme {
  /* 
    Definimos nuestra paleta "primary". 
    Actualmente son los tonos azules que hemos usado, 
    pero si mañana los cambias por códigos violetas o verdes, 
    todo el CRM mutará automáticamente.
  */
  --color-primary-400: #60a5fa; /* Usado para textos claros y hover */
  --color-primary-500: #3b82f6; /* Usado para botones principales y gráficas */
  --color-primary-600: #2563eb; /* Usado para botones principales (hover) */
  --color-primary-700: #1d4ed8; /* Usado para bordes o sombras oscuras */

  /* Paleta Estado: Nuevo (Tonos Azules) */
  --color-nuevo-100: #dbeafe;
  --color-nuevo-300: #93c5fd;
  --color-nuevo-800: #1e40af;
  --color-nuevo-900: #1e3a8a;

  /* Paleta Estado: Contactado (Tonos Ámbar/Amarillos) */
  --color-contactado-100: #fef3c7;
  --color-contactado-300: #fcd34d;
  --color-contactado-800: #92400e;
  --color-contactado-900: #78350f;

  /* Paleta Estado: Cerrado (Tonos Verdes) */
  --color-cerrado-100: #d1fae5;
  --color-cerrado-300: #6ee7b7;
  --color-cerrado-800: #065f46;
  --color-cerrado-900: #064e3b;

  /* Paleta de Estados (Gráficas y Badges) */
  --color-status-nuevo: var(--color-primary-500); /* Hereda el azul corporativo */
  --color-status-contactado: #f59e0b; /* Ámbar */
  --color-status-cerrado: #10b981; /* Verde */
}

/* 1. Para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #111827; 
}

::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

/* 2. Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111827;
}